@font-face {

  font-family: "Modelica Medium";
  src: url(./fonts/BwModelica-Medium.woff),
    url(./fonts/BwModelica-Medium.woff2);
}

.container {
  display: flex;
  overflow-x: scroll;
  flex-direction: column;
  margin-left: 30px;
  font-family: "Modelica Medium", sans-serif;
}

.images-container {
  display: flex;
  width: 220px;
  height: 125px;
}

#root {
  background-color: black;
  height: 100vh;
}

.titles {
  color: white;
  font-size: 20px;
  margin: 25px 0px;

}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.images-container-1 {
  display: flex;
  overflow-x: scroll;
  flex-wrap: nowrap;

}

.logo {
  width: 100px;
  margin-left: 30px;
}